@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";

.content {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 40px;
  background-color: $background-secondary;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;

  @media (max-width: 917px) {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    padding-bottom: 20px;
  }
}

.right {
  @media (max-width: 1255px) {
    display: none;
  }
}

.left {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  &_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;

    // @media (max-width: 910px) {
    //   display: none;
    // }

    &--first {
      font-family: $font-main;
      font-weight: 400;
      font-style: normal;
      font-size: 70px;
      color: $text-color;
    }

    &--second {
      font-family: $font-main;
      font-weight: 600;
      font-style: normal;
      font-size: 60px;
      color: $text-color;
      margin-top: -25px;
    }

    &--sub {
      font-family: $font-main;
      font-weight: 500;
      font-style: normal;
      font-size: 50px;
      color: $text-color;
      margin-top: -20px;
    }
  }
}

.search {
  display: flex;
  margin-top: 20px;
  width: 80%;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 30px;
  position: relative;
  flex: 1;
  gap: 10px;

  @media (max-width: 1255px) {
    width: 100%;
  }

  @media (max-width: 917px) {
    flex-direction: column;
  }

  &__select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 0 20%;
  }

  &__input {
    display: flex;
    flex: 0 0 70%;
    position: relative;

    @media (max-width: 917px) {
      width: 100%;
    }

    &-text {
      flex: 1;
      font-family: $font-main;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      border: 0px;
      padding: 10px 10px;
      padding-left: 40px;
      color: $text-secondary-color;

      @media (max-width: 917px) {
        width: 100%;
        border: 1px solid #ccc;
      }
    }
  }

  &__find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 5px;

    @media (max-width: 917px) {
      flex-direction: column;
    }
  }

  &__button {
    font-family: $font-main;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 25px;
    border-radius: 10px;
    background-color: $background-primary;

    @media (max-width: 1546px) {
      width: 150px;
    }

    @media (max-width: 917px) {
      width: 100%;
    }
  }

  &__label {
    // margin-bottom: 5px;
    font-family: $font-main;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    color: $background-primary;
  }
}

.divide {
  width: 2px;
  border: 0.5px solid #ccc;
}

.search_icon {
  font-size: 20px;
  color: $text-secondary-color;
  position: absolute;
  left: 10px;
  top: 12px;
  z-index: 1000;
}

.doctor {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;

  &-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 35px;
  }

  &-content {
    flex: 0 0 60%;
  }

  &-slide {
    width: 80%;
    margin: 20px auto; // Add some vertical space around the carousel
    justify-content: center;
  }
}

.card-content {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  @media (max-width: 1526px) {
    display: flex;
    flex-wrap: wrap;
  }
}
