@import "../../assets/scss/font.scss";
@import "../../assets/scss/variable.scss";

.menu {
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;
  background-color: #fff;
  font-family: $font;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  transition-property: all;

  &__scrolled {
    position: static;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-property: all;
  }
}

.nav {
  justify-content: space-between;
}

.nav__item {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 24px;


  &-content {
    color: $text-primary-color;
    transition: border-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover &-content {
    color: $text-secondary-color !important;
    border-bottom: 3px solid $text-secondary-color;
  }
}

.active {
  color: $text-secondary-color !important;
}

.login {
  font-family: "Quicksand", Helvetica, sans-serif;
  line-height: 24px;
  font-weight: 600;
  font-size: 16px;
  color: $text-primary-color;
  cursor: pointer;
}





.border--bottom {
  border-bottom: 1px solid #ccc;
}

.active {
  color: $text-secondary-color !important;
  border-bottom: 3px solid $text-secondary-color;
}

.logo {
  &:hover {
    cursor: pointer;
  }
}

.title {
  font-size: 35px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: $text-primary-color;
  font-style: italic;
  margin-left: -18px;
}